.string
{
	color: red;
}

.comment
{
	color: green;
	font-style: italic;
}

.number
{
	color: blue;
	font-weight: bold;
}

.keyword
{
	color: blue;
	font-weight: bold;
}

.monokai
{
	background-color: #272822;
	color: #FFFFFF;
}

.classic
{
	background-color: white;
	color: black;
}

.terminal
{
	background-color: black;
	color: #76EE00;
}

.pad
{
	width:100%;
	height:90%;
	border:1px solid ;
	overflow:auto;
	white-space: pre-wrap;
}

.item
{
	margin: 5px;
}

.threadtext
{
	/*color: white;*/
}

.threadinput
{
	width: 100%;
}

body
{
	font-family: "Open Sans",Helvetica,Arial,Helvetica,sans-serif;
	background-color: rgb(112,112,112);
	color: rgb(192,192,192);
	margin: 5px;
}

a
{
	color: rgb(221,221,221);
	text-decoration: none;
}

pre
{
	margin: 0px;
}

a:hover 
{ 
	color: #fff; 
}
